* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d6d3ae;
}

@font-face {
  font-family: loki;
  src: url(loki.otf);
}

h1 {
  text-shadow: 0.2vw 0.1vw rgb(214, 174, 47);
  text-align: center;
  font-family: loki;
  font-size: 4em;
  color: #071a03
}

h4 {
  text-shadow: 0.2vw 0.1vw rgb(214, 174, 47);
  text-align: center;
  font-family: loki;
  font-size: 4em;
  color: #071a03
}

table,
td,
th {
  border: 1px solid rgb(11, 69, 10);
  background-color: #d6ae2f;
}

th {
  font-size: x-large;
  background-color: rgb(7, 26, 3);
}

table {
  background-color: #071a03;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 10vw;
  float: auto;
}

fieldset {
  background-color: #d6ae2f;
  border-color: #071a03;

}

td {
  font-family: loki;
  text-align: center;
  font-size: 2.3em;
}

.columna {
  width: 33%;
  padding: 1.5vw;
  margin: 0%;
  float: left;
}

#portada_loki {
  width: 100%;
}

#temporada2 {
  width: 100%;
}

h2 {
  font-family: loki;
  font-size: 2.3em;
  color: #071a03;
  text-shadow: 0.1vw 0.1vw rgb(11, 69, 10);
}

h3 {
  color: rgb(11, 69, 10);
  text-align: center;
  font-family: loki;
  font-size: 3.6em;
  text-shadow: 0.3vw 0.3vw rgb(214, 174, 47);
}

/* Style the header */
header {
  background-color: #071a03;
  padding: 3vw;
  text-align: center;
  font-size: 3vw;
  color: white;
}

/*section {
  display: flex;
}/*
/* Create two columns/boxes that floats next to each other */
nav {
  /*float: left;*/
  /*width: 30%;*/
  /* height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 0.1vw;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid #555;
  display: flex;
  justify-content: center;
}

nav li a {
  display: block;
  color: #000;
  padding: 0.8vw 1.6vb;
  text-decoration: none;
}

nav ul li {
  text-align: center;
  border: 0.2vw solid #071a03;
  width: 20%;
}

nav li {
  text-align: center;
  border-bottom: 0.1vw solid #555;
}

/*nav li:last-child {
  border-bottom: none;
}*/
nav li a.active {
  font-family: loki;
  background-color: #d6ae2f;
  color: rgb(7, 26, 3);
  text-shadow: 0.1vw 0.1vw #50630d;
  font-size: 2.6em;
}

nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

article {
  /*float: left;*/
  padding: 1vw;
  /*width: 70%;*/
  background-color: #50630d;
  /*height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #50630d;
  padding: 0, 1vw;
  text-align: center;
  color: rgb(7, 26, 3);
  font-family: loki;
  font-size: 2em;
  text-shadow: 0.1vw 0.1vw rgb(214, 174, 47);
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media only screen and (max-width: 600px) {


  img {
    border-radius: 10%;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6ae2f;
  }

  h1 {
    text-shadow: 0.2vw 0.1vw #50630d;
    text-align: center;
    font-family: loki;
    font-size: 4em;
    color: #d6ae2f
  }

  h4 {
    text-shadow: 0.2vw 0.1vw rgb(214, 174, 47);
    text-align: center;
    font-family: loki;
    font-size: 4em;
    color: #071a03
  }

  table,
  td,
  th {
    border: 1px solid rgb(11, 69, 10);
    background-color: #d6ae2f;
  }

  table {
    background-color: #071a03;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .columna {
    width: 100%;
    padding: 1.5vw;
    float: left;
  }

  h3 {
    color: rgb(214, 174, 47);
    text-align: center;
    font-family: loki;
    font-size: 3.6em;
    text-shadow: 0.3vw 0.3vw rgb(7, 26, 3);
  }

  /* Style the header */
  header {
    background-color: #50630d;
    padding: 3vw;
    text-align: center;
    font-size: 3vw;
    color: white;
  }

  nav li a.active {
    font-family: loki;
    background-color: #d6ae2f;
    color: rgb(7, 26, 3);
    text-shadow: 0.1vw 0.1vw #50630d;
    font-size: 2em;
  }


  article {
    padding: 1vw;
    background-color: #071a03;
  }

}
 
@media (max-width: 600px) {

  nav,
  article {
    width: 100%;
    height: auto;
  }
}